<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KGTableViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>061921E61E63CEBB00DA8273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>061922021E63CEBB00DA8273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0619220D1E63CEBB00DA8273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
